<div>
  <div class="filter">
    <h3 class="filter__title">ToDos:</h3>
    <ul class="filter__list">
      <li
          class="filter__list-item"
          ng-class="{'filter__list-item--active': list.listFilter === 'all'}">
        <a ui-sref='todoParent.list({ filter: "all" })'>all</a>
      </li>
      <li
          class="filter__list-item"
          ng-class="{'filter__list-item--active': list.listFilter === 'complete'}">
        <a ui-sref='todoParent.list({ filter: "complete" })'>complete</a>
      </li>
      <li
          class="filter__list-item"
          ng-class="{'filter__list-item--active': list.listFilter === 'incomplete'}">
        <a ui-sref='todoParent.list({ filter: "incomplete" })'>incomplete</a>
      </li>
    </ul>
  </div>

  <ul class="cards" >
    <li
        class="card" ng-repeat="todo in list.listTodosArray | filter: list.filtersObj[list.listFilter] | orderBy: '-'">
      <form class="card__item" ng-submit="list.save($index,todo)">
        <div class="checkmark-div" ng-click="list.toggle($index, todo)" ng-model="todo.complete" ng-class="{'card__complete--true': todo.complete}">
          <img src="src/styles/images/unchecked.png" class="unchecked"  ng-hide="todo.complete"/>
          <img src="src/styles/images/checked.png" class="checked" ng-show="todo.complete"/>
        </div>
        <label class="card__text" ng-click="editing=true" ng-hide="editing" ng-class="{'card__complete--true': todo.complete}">{{todo.body}}</label>
        <input class="card__text" ng-click="edit" ng-show="editing" placeholder="{{todo.body}}" ng-blur="editing=false" ng-model="todo.body" ng-class="{'card__complete--true': todo.complete}"></input>
        <img src="src/styles/images/DeleteRed.png" class="delete-div" ng-click="list.delete($index,todo); todo.deleted=true;" ng-hide="deleted">
        <button ng-show="editing" type="submit">Submit Changes</button>
      </form>
      <div class="card__right">
        <div
            class="card__star"
            ng-class="{'card__complete--active': todo.complete}"
            ng-click="list.toggle(todo)" />
      </div>
    </li>
  </ul>
</div>
