<div>
  <div class="filter">
    <h3 class="filter__title">show:</h3>
    <ul class="filter__list">
      <li
          class="filter__list-item"
          ng-class="{'filter__list-item--active': list.listFilter === 'all'}">
        <a ui-sref='todoParent.list({ filter: "all" })'>all</a>
      </li>
      <li
          class="filter__list-item"
          ng-class="{'filter__list-item--active': list.listFilter === 'starred'}">
        <a ui-sref='todoParent.list({ filter: "complete" })'>complete</a>
      </li>
      <li
          class="filter__list-item"
          ng-class="{'filter__list-item--active': list.listFilter === 'starred'}">
        <a ui-sref='todoParent.list({ filter: "incomplete" })'>incomplete</a>
      </li>
    </ul>
  </div>

  <ul class="cards">
    <li
        class="card"
        ng-repeat="todo in list.listTodosArray | filter: list.filtersObj[list.listFilter] | orderBy: '-'">
      <div class="card__left">
        <div class="card__text">{{todo.body}}</div>

      </div>
      <div class="card__right">
        <div
            class="card__star"
            ng-class="{'card__complete--active': todo.complete}"
            ng-click="list.toggle(todo)" />
      </div>
    </li>
  </ul>
</div>
